
<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="w-50">
    <div class="form-group">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :address %>
        <%= form.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :phone_number %>
        <%= form.phone_field :phone_number, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :category %>
        <%= form.select :category,["chinese", "italian", "japanese", "french", "belgian"], prompt: "Select restaurant cousin", class: 'form-control' %>
      </div>
    </div>


    <div class="form-actions">
      <%= form.button :submit, class: "btn btn-primary"%>
    </div>

  </div>
<% end %>

